* { box-sizing: border-box; }
.content {
    width:480px;
    margin:20px auto 0;
}

.calculadora {
    width:480px;
    height:auto;
    padding:10px 0;
    margin: auto;
    background:#232323;
    border:#000 1px solid;
    border-radius:7px;


}

.pantalla {
     width:424px;
     height:93px;
     margin: 12px auto 30px;
     padding:15px 20px;
     text-align: right;
     font-size: 3em;
     border: 1px solid ;
     border-radius:7px;
     background-color: #737272;
}

.buttons {
     width:423px;

}
